<!--<h1>Hello World!</h1>-->
<!--<h2>My home page content</h2>-->
<div data-animate="fade-in fade-out" class="container">
    <section class="home row">
        <div *ngFor="let content of pageContent" >
            <h1 [innerHtml]="content.title.rendered"></h1>

            <hr>
            <div class="content">
                <main [innerHtml]="content.content.rendered"></main>
            </div>
        </div>
    </section>
</div>