<div data-animate="fade-in fade-out" class="container">
    <section class="home row">
        <div *ngFor="let content of returnContent" >
            <h1 [innerHtml]="content.title.rendered"></h1>

            <hr>
            <div class="content">
                <main [innerHtml]="content.content.rendered"></main>
            </div>
        </div>
    </section>
</div>