<nav-component></nav-component>

<div id="content" class="site-content">
  <div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			<div class="view-container">
				<div id="container-router-outlet">
				  <router-outlet></router-outlet>
				</div>
      		</div> <!-- .view-container -->
		</main><!-- #main -->
	</div><!-- #primary -->
</div><!-- #content -->